.supported,
.notSupported {
  display: none;
}
.step1,
.step2,
.step3 {
  display: none;
}
.testNow {
  font-size: small;
  margin-left: 10px;
}
ul.when {
  list-style: none;
}
.whenResult {
  display: none;
}
button.small {
  font-size: .6em;
}
.main-content h3 {
  margin-top: 0;
  margin-bottom: 6px;
}
fieldset {
  margin-top: 1em;
}
#whenList > div {
  position: relative;
}
#whenList > div:hover {
  background-color: #f9f9f9;
}
.removeWhen {
  font-size: 6px;
  position: absolute;
  right: 5px;
  bottom: 4px;
}
.when_sunrise {
  color: orangered;
}
.when_sunset {
  color: darkblue;
}
