.supported,
.notSupported {
  display: none;
}
.step1,
.step2,
.step3 {
  display: none;
}
.testNow {
  font-size: small;
  margin-left: 10px;
}
ul.when {
  list-style: none;
}
.whenResult {
  display: none;
}
#btnGetLocation2 {
  font-size: .6em;
}
