.verse{
    font-size: 2em;
    padding: 1em;
    font-family: 'Gentium Book Basic', cursive;
    line-height: 1.2;
}
.suffix{
    font-size: .5em;
    white-space: nowrap;
}
.prefix{
    text-align: center;
}